extends layout.pug     

block content 
  nav.grid-container.portfolio-breadcrumb   
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 #{name}

        p.lead.text-light
          | #{title}

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | #{pitch}
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li #{skill1}
          li #{skill2}
          li #{skill3}
          li #{skill4}
          li #{skill5} 
          li #{skill6}
        h6 Contact Info

        //- Add your own contact info
        ul
          li #{phone}
          li #{email}

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href=linkedin_url target='_blank') LinkedIn
        a.button.expanded(href=github_url target='_blank') GitHub
        a.button.expanded(href=twitter_url target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  