extends layout.pug     

block content 
  nav.grid-container.portfolio-breadcrumb   
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 #{name}

        p.lead.text-light
          | #{title}

        .portfolio-bio
          p
            | #{pitch}
      
        canvas#canvas
          #interface
            h1 Text particle
            p feel free to change the value of the variable "message" 
            | Message:
            input#message(type='text', value='Yvonne', onchange='change()')
            | Gravity:
            input#2(onchange='changeV()', type='range', value='0', max='1', min='-1', step='0.1')
            | Duration:
            input#3(onchange='changeV()', type='range', value='.4', max='0.99', min='0.1', step='0.01')
            |   Speed:
            input#5(onchange='changeV()', type='range', value='.1', max='5', min='0', step='0.01')
            |     Radius:
            input#6(onchange='changeV()', type='range', value='2', max='20', min='1.8', step='0.1')
            | Resolution:
            input#4(type='range', value='5', max='20', min='3', step='1', onchange='change()')
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li #{skill1}
          li #{skill2}
          li #{skill3}
          li #{skill4}
          li #{skill5} 
          li #{skill6}
        h6 Contact Info

        ul
          li #{phone}
          li #{email}

        a.button.expanded(href=linkedin_url target='_blank') LinkedIn
        a.button.expanded(href=github_url target='_blank') GitHub
        a.button.expanded(href=twitter_url target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  